{% extends "HTML/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
	{% if album.owner.username == user.username %}
      <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ album.cover.url }}" height="300" width="300">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ album.owner }}</a>
            <small class="text-muted">{{ album.date_posted|date:"F d, Y" }}</small>
            
          </div>
          <h2 class="article-title"> {{ album.title }}</h2>
          <small class="text-muted">{{ album.description }}</small>
          <p class="article-content"><img src="{{albums.cover.url}}"/></p>
        </div>
      </article>
      {% for photos in photo %}
      {% if  album.albumid == photos.albumid.albumid  %}
      <a href="{% url 'viz-showPhoto' photos.photoid %}"><img src="{{ photos.image.url }}"  style="width:300px;height:300px;max-width:50%;max-height:50%;"/></a>
      {% endif %}
      {% endfor %}
      {% endif %}
{% endblock content %}


<!--<div class="cd" id="SignUp">
<center><h2>SIGN UP</h2></center>
<form method="POST">{% csrf_token %}
{{ formSignUp|crispy }}<br>
<center><input style="margin-bottom: 10px;" type="submit" value="Sign Up"></center>
</form>-->
<!--<form method="POST">{% csrf_token %}<center>
<input style="margin-bottom: 10px;" type="username" name="username" placeholder="Username" required><br>
<input style="margin-bottom: 10px;" type="email" name="email" placeholder="E-mail" required><br>
<input style="margin-bottom: 10px;" type="password" name="password1" placeholder="Password" required><br>
<input style="margin-bottom: 10px;" type="password" name="password2" placeholder="Confirm Password" required><br>
<input style="margin-bottom: 10px;" type="text" name="firstname" placeholder="First Name" required><br>
<input style="margin-bottom: 10px;" type="text" name="lastname" placeholder="Last Name" required><br>
<input style="margin-bottom: 10px;" type="submit" value="Sign Up"></center>
</form>-->
