{% extends "HTML/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}<div class="container">
<h3 style="float:right;">Have an Account?</h3>
<br><br>
<a href="{% url 'viz-showSignIn' %}">
	<button  style="float:right;width: 100px; height: 50px;">Login</button></a>
<br>
	<div class="cd" id="SignUp">
<center><h2>SIGN UP</h2></center>
<form method="POST" enctype="multipart/form-data">{% csrf_token %}
{{ form|crispy }}<br>
<center><input style="margin-bottom: 10px;" type="submit" value="SignUp"></center>
</form></div></div>{% endblock content %}


<!--<form method="POST">{% csrf_token %}<center>
<input style="margin-bottom: 10px;" type="username" name="username" placeholder="Username" required><br>
<input style="margin-bottom: 10px;" type="email" name="email" placeholder="E-mail" required><br>
<input style="margin-bottom: 10px;" type="password" name="password1" placeholder="Password" required><br>
<input style="margin-bottom: 10px;" type="password" name="password2" placeholder="Confirm Password" required><br>
<input style="margin-bottom: 10px;" type="text" name="firstname" placeholder="First Name" required><br>
<input style="margin-bottom: 10px;" type="text" name="lastname" placeholder="Last Name" required><br>
<input style="margin-bottom: 10px;" type="submit" value="Sign Up"></center>
</form>-->
